@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Poppins:wght@300;400;600&display=swap');

#root {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .card {
        background-color: transparent;
        border: 0;
        padding: 0;

        .card-body {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }

    .Navbar {
        padding: 40px 0;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
        }

        .myNav {
            display: flex;
            align-items: center;

            a {
                font-weight: 600;
                margin-right: 20px;
                font-size: 20px;
            }
        }

        .right {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        .bag {
            display: flex;
            align-items: center;
            background: linear-gradient(45deg, #5e36e1, #6177c7);
            padding: 12px 26px;
            border-radius: 35px;
            color: #fff;
            font-size: 17px !important;
            margin-right: 0 !important;

            svg {
                margin-right: 7px;
            }
        }

        .logo {
            font-family: 'Delius Swash Caps', cursive;
            font-size: 30px;
            font-weight: 600;
            color: #0409ad;
        }
    }
}